# APP
PORT=8000
STATIC_CDN_DOMAIN=http://localhost:4200
SITE_DOMAIN=https://wevied.co
API_DOMAIN=http://api.wevied.co

# DB
#DB
DB_HOST=localhost
DB_PORT=5431
DB_NAME=kola-db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SYNC=false
DB_DROP_SCHEMA=false

# RABBITMQ
RABBIT_MQ_URL=amqp://127.0.0.1:5672

# JWT
JWT_SECRET=secret

# FACEBOOK
FACEBOOK_APP_ID=id
FACEBOOK_APP_SECRET=secret

# GOOGLE
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
